.App {
  text-align: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-image: linear-gradient(45deg, #93ddee, #5db9eb, #0b0f63) ;
  background-size: 400% 400%;
  animation: gradientAnimation 5s ease infinite;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(45deg, #afe8f4, #4c93b9, #191f8d);
  background-size: 1000% 1000%;
  animation: gradientAnimation 15s ease infinite;
}

.content {
  position: relative;
  z-index: 1; 
  padding: 20px;
  color: white;
}

@keyframes gradientAnimation {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

.movies-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;

}

@keyframes monteDescend {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px); 
  }
  100% {
    transform: translateY(0);
  }
}

.bulles {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./PetitPoisson.png');
  background-size: contain;
  animation: monteDescend 5s ease-in-out infinite; /* Ajustez la durée de l'animation selon vos préférences */
}

.image-align-left {
  float: left; /* Aligne l'image à gauche */
  margin-right: 1500px; /* Ajuste la marge à droite si nécessaire */
  width: 20%;
  height: 20%;
}

.image-align-right {
  float: right; 
  margin-left: 1500px; 
  width: 20%;
  height: 20%;
}


