.Header-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5px;
  font-size: calc(10px + 2vmin);
}

.Header-container> :not(:last-child) {
  margin-right: 10px;
}

.Link {
  font-weight: 500;
  color: white;
}

/* Header.css */

.connect-dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 8px;
  /* Angles arrondis */
  flex-direction: row;
  /* Mettre les liens sur la même ligne */
  padding: 8px;
  /* Ajouter un peu de padding pour l'espace entre les liens */
}

.connect-dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-link {
  color: black;
  padding: 2px 2px;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  /* Changer la taille de la police */
  margin-right: 1px;
  /* Ajouter une marge à droite */
  text-align: center;
  /* Centrer le texte horizontalement */
  line-height: 24px;
  /* Ajuster la hauteur de ligne pour centrer verticalement */
}

.dropdown-link:hover {
  background-color: #f1f1f1;
}