.about {
  text-align: justify;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.about-title {
  text-align: center;
}

.about h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

.about p {
  font-size: 1.2em;
  line-height: 1.6;
}

body {
  margin: 0; /* Réinitialiser les marges par défaut */
}