/* Users.css */

/* Sélecteurs pour tous les champs de formulaire */
.form-section input[type="email"],
.connected-user-section input[type="email"],
.form-section input[type="text"],
.connected-user-section input[type="text"],
.form-section input[type="password"],
.connected-user-section input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 3px solid #50d7ed;
  border-radius: 5px;
  box-sizing: border-box;
  /* Ajout de marge en haut pour l'espacement */
}

/* Sélecteur pour les boutons */
.form-section button,
.connected-user-section button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

/* Changement de couleur au survol des boutons */
.form-section button:hover,
.connected-user-section button:hover {
  background-color: #0056b3;
}

.login-link p {
  font-family: Arial, sans-serif;
  /* Choisir la police de votre choix */
  font-size: 25px;
  /* Choisir la taille de la police de votre choix */
  color: #ffffff;
  /* Choisir la couleur de votre choix */
  margin-top: 10px;
  /* Ajouter de l'espace en haut du paragraphe */
}

/* Register.css */

.login-link-text {
  color: #007bff;
  /* Choisissez la couleur de votre choix */
}